#upcoming{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.movie-poster {
    height: 200%;
    width: auto;
}
.a{
    height: 250 !important;
}

.released-movie-grid-item {
    margin: 15px !important;
}
.movie-poster2{
    height: 100%;
    width: auto;

}

.flex-container {
    display: flex;
}

.flex-container>div {
    margin: 16px;
}
.left {
    width: 76%;
}
.right {
    padding-top: 20px;
    width: 24%;
}


@media (max-width: 992px) {
    .flex-container {
        flex-direction: column;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 90%;
    }
    .released-movie-grid-item {
        margin: 8px;
    }
}  