.header {
  background-color: #222;
  height:36px;
  padding:8px 32px 8px 16px;   
}
.headerLogo {
  background-color: #ff7f7f;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (prefers-reduced-motion: no-preference) {
  .headerLogo {
    animation: logo-spin infinite 8s linear;
  }
}
@keyframes logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}